@media (min-width: 992px) {
    .navbar {
    padding-top:0px;
    padding-bottom:0px;
    }
    
    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
    padding:.5rem .5rem;
    margin:0 .25rem;
    }
    
    /* makes the dropdown full width  */
    .navbar .dropdown {position:static;}
    
    .navbar .dropdown-menu {
    width:100%;
    left:0;
    right:0;
    /*  height of nav-item  */
    top:45px;
    }
    
    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block!important;
    }
    
    .navbar .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        background-color: #fff;
    }
    
    #header-wrapper.fixed .middle-header .navbar-nav > .menu-item > a,
    #header-wrapper .middle-header .navbar-nav > .menu-item > a {
        padding: 20px 15px;
        font-size: 13px;
    }

    #header-wrapper .middle-header .navbar-nav .cart-link {
        font-size: 16px;
    }

    #header-wrapper .middle-header .nav-right {
        display: block;
    }

    #content-wrapper .header-banner-wrapper.homepage .header-banner .banner-content-wrapper .content-detail .primary-text {
        font-size: 60px;
    }

    #content-wrapper .header-banner-wrapper.homepage .header-banner .banner-content-wrapper .content-detail .secondary-text {
        font-size: 24px;
    }

    #header-wrapper #mega-menu-wrap-primary #mega-menu-primary>li>.mega-sub-menu .mega-menu-row .mega-menu-column {
        // width: 50%;
    }

    #header-wrapper #mega-menu-wrap-primary .form-container form [type="search"],
    #header-wrapper #mega-menu-wrap-primary .form-container form .input-group-text {
        background-color: #f48800;
    }

    #header-wrapper .bottom-header,
    #header-wrapper #mega-menu-wrap-primary #mega-menu-primary {
        background: #f48800;
    }

    #header-wrapper #mega-menu-wrap-primary #mega-menu-primary>li>.mega-sub-menu .mega-menu-row .mega-menu-column .mega-sub-menu .mega-menu-link:hover {
        background-color: #3b3b3b;
    }

    #header-wrapper #mega-menu-wrap-primary #mega-menu-primary>li>.mega-sub-menu .mega-menu-row .mega-menu-column .mega-sub-menu .mega-sub-menu .mega-menu-link:hover {
        background-color: #3b3b3b;
    }

    #header-wrapper #mega-menu-wrap-primary {
        padding: 0;
    }

    #header-wrapper #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
        padding: 11px 12px;
    }

    #header-wrapper #mega-menu-wrap-primary #mega-menu-primary>li.cart-container {
        display: block;
    }

    #cart-link {
        display: none;
    }

    #header-wrapper #mega-menu-wrap-primary #mega-menu-primary>li.grid-submenu>.mega-sub-menu {
        height: auto;
        overflow: visible;
    }

    .masonry {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}

    #header-wrapper.fixed .middle-header {
        .header-logo img {
            height: 80px;
        }
        
        .call-us-at-wrapper {
            margin-top: 18px;
        }
    }

    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
        &.column-3 {
            > .mega-sub-menu {
                > .mega-menu-item {
                    float: left;
                    width: 33%;
                }
            }
        }
    }

    #header-wrapper .middle-header .header-logo img {
        height: 100px;
    }

    #header-wrapper .middle-header .call-us-at-wrapper {
        margin-top: 30px;
    }

    .logged-in {
        #header-wrapper {
            &.fixed {
                .sticky-header {
                    padding-top: 32px;
                }
            }
        }
    }

    #content-wrapper .checkout-page #place_order {
        width: auto;
        margin-top: 0;
    }

    #header-wrapper #mega-menu-wrap-primary #mega-menu-primary>li.cart-container a.mega-menu-link {
        padding: 11px 25px;
    }

    #content-wrapper .tab-wrapper .tab-nav .nav.nav-tabs .nav-item .nav-link {
        border: none;
    }

    #content-wrapper .testimonials-section .section-title {
        font-size: 36px;
        margin-bottom: 40px;
    }

    #content-wrapper .testimonials-section {
        padding: 100px 0;
    }

    #content-wrapper .testimonials-section .testimonial-col {
        margin-bottom: 0;
    }

    #content-wrapper .testimonials-section:before {
        content: '';
    }

    #header-wrapper .middle-header .navbar {
        width: auto;
        padding: 19px 0;
    }

    #header-wrapper .middle-header .navbar-brand {
        padding: 20px 0;
    }

    #header-wrapper.fixed .middle-header .navbar-nav > .menu-item > .dropdown-menu,
    #header-wrapper .middle-header .navbar-nav > .menu-item > .dropdown-menu {
        background-color: #fff;
        border: 1px solid #dadada;
        padding: 15px;
        border-radius: 0;
        box-shadow: 0px 4px 13px -3px #808080;

        a {
            font-size: 14px;
            font-family: 'Gotham Rounded Book';
            display: block;
        }
    }

    #content-wrapper .profile-section .blue-block {
        padding: 50px;
    }

    #header-wrapper.fixed .middle-header {
        animation: mySticky 1s;
    }

    #content-wrapper .header-banner-wrapper .header-banner {
        text-align: left;
    }

    #content-wrapper .header-banner-wrapper .header-banner .banner-content-wrapper .content-detail .primary-text {
        font-size: 45px;
    }

    .whatsapp-btn .web {
        // display: block;
    }

    .whatsapp-btn .api {
        display: none;
    }

    #footer-wrapper .reserved {
        display: inline-block;
    }

    #footer-wrapper .footer-links {
        margin-bottom: 0;
    }

    #content-wrapper .banner-wrapper {
        min-height: 650px;
        padding: 40px 0 80px;
    }

    #content-wrapper .banner-wrapper .banner {
        border: 23px solid #fff;
        background-position-x: 200px;
        text-align: left;
        background-size: cover; 
    }

    #header-wrapper .top-header {
        font-size: 12px;
    }

    #header-wrapper .top-header .address {
        margin-bottom: 0;
        text-align: left;
    }

    #header-wrapper .top-header .opening-hour {
        text-align: right;
    }

    #content-wrapper .banner-wrapper .banner-text {
        padding: 99px 0 99px 30px;
    }

    #content-wrapper .banner-wrapper .banner-text {
        &:before {
            content: '';
            position: absolute;
            width: 45px;
            height: 100%;
            right: -44px;
            top: 0;
            background-image: url('dist/images/banner-s-shaped-border-v2.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    #content-wrapper .banner-wrapper .banner-text-wrapper {
        display: inline-block;
        
        img {
            display: none;
        }
    }
    
    #content-wrapper .banner-wrapper .first-text {
        font-size: 32px;
    }

    #content-wrapper .banner-wrapper .second-text {
        font-size: 56px;
    }
    
    #content-wrapper .banner-wrapper .third-text {
        font-size: 20px;
    }

    #content-wrapper .about-section {
        padding: 50px 100px;

        .section-title {
            text-align: left;
            font-size: 36px;

            span {
                font-size: 50px;
            }
        }
    }

    #content-wrapper .ironing-section .product-category-wrapper {
        text-align: left;

        .product-category {
            font-size: 60px;
        }
    }

    #content-wrapper .header-banner-wrapper .header-banner .content-detail .primary-text {
        font-size: 50px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column {
        flex-direction: row;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .column {
        width: 50%;
    }

    #content-wrapper .sidebyside-section.automatic .sidebyside-column .detail-column {
        margin-left: auto;
        padding: 30px 50px 30px 0;
    }
    
    #content-wrapper .sidebyside-section.manual .sidebyside-column .detail-column {
        order: 2;
        margin-right: auto;
        padding: 30px 0 30px 50px;
    }
    
    #content-wrapper .sidebyside-section .sidebyside-column .detail-column {
        text-align: left;
        // padding: 30px 70px;
        max-width: 450px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .column .category-name {
        font-size: 50px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .column .category-subname {
        font-size: 26px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .column .description {
        margin-bottom: 20px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .detail-column .video-wrapper .video .img-tag {
        display: block;
        height: 180px;
    }
    
    #content-wrapper .sidebyside-section .sidebyside-column .detail-column .video-wrapper .video .embed-responsive {
        display: none;
    }

    #content-wrapper .add-cart-block [type="submit"] {
        width: auto;
    }

    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
        font-size: 12px;
    }

    .footer-separator {
        background-position: center bottom;
    }

    #content-wrapper .banner-wrapper .banner-text:before {
        right: -43px;
        background-size: contain;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .slider-column .product-image-tag {
        display: none;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .slider-column .product-image-bg {
        display: block;
        height: 590px;
        background-size: cover;
        background-position: center center;
    }

    #content-wrapper .specs-section .specs {
        width: 19%;
        margin: 0;
        box-shadow: none;
        font-size: 20px;
    }
    
}