@media (min-width: 1200px) {
    #header-wrapper.fixed .middle-header .navbar-nav > .menu-item>  a,
    #header-wrapper .middle-header .navbar-nav > .menu-item > a {
        padding: 20px 25px;
        font-size: 14px;
    }

    #header-wrapper .middle-header .header-logo img {
        height: auto;
    }

    #header-wrapper .middle-header .call-us-at-wrapper {
        margin-top: 50px;
    }

    #content-wrapper .banner-wrapper .first-text {
        font-size: 36px;
    }

    #content-wrapper .banner-wrapper .second-text {
        font-size: 72px
    }
    
    #content-wrapper .banner-wrapper .third-text {
        font-size: 24px;
    }

    #content-wrapper .about-section {
        padding: 50px 100px;

        .section-title {
            text-align: left;
            font-size: 36px;

            span {
                font-size: 72px;
            }
        }
    }

    #content-wrapper .sidebyside-section .sidebyside-column .detail-column .video-wrapper .video .img-tag {
        height: 240px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .detail-column {
        max-width: 500px;
    }

    #content-wrapper .sidebyside-section.automatic .sidebyside-column .detail-column {
        padding: 30px 80px 30px 0
    }

    #content-wrapper .sidebyside-section.manual .sidebyside-column .detail-column {
        padding: 30px 0 30px 80px
    }

    #content-wrapper .ironing-section .product-category-wrapper {
        .product-category {
            font-size: 72px;
        }
    }
    
    #content-wrapper .banner-wrapper .banner-text:before {
        background-size: cover;
    }

    #content-wrapper .specs-section .specs {
        font-size: 24px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .column .category-name {
        font-size: 60px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .column .category-subname {
        font-size: 34px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .slider-column .product-image-bg {
        height: 650px;
    }

    #content-wrapper .social-media-block .share-buttons a.share-link {
        padding: 10px 12px;
        font-size: 11px;
        width: 110px;
    }

    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
        font-size: 14px;
    }
}