@media (min-width: 601px) {
	#header-wrapper.fixed .middle-header {
        top: auto;
    }
}

@media (min-width: 768px) {
    #header-wrapper.fixed .middle-header .navbar-nav > .menu-item > a {
        padding: 10px 5px;
    }

    #content-wrapper .social-media-block .share-buttons a .social-icon {
        margin-right: 7px;
    }

    .masonry {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
    }
    
    #content-wrapper .pagination-wrapper .inner-pagination-wrapper .pagination a, 
    #content-wrapper .pagination-wrapper .inner-pagination-wrapper .pagination span {
        width: 54px;
        height: 54px;
        line-height: 50px;
    }
    
    #content-wrapper .specs-section .specs {
        width: 30%;
        padding: 15px;
        // box-shadow: 1px 1px 1px #839daf;
        margin: 0 20px 20px;
    }

    #content-wrapper .banner-wrapper .banner-text:before {
        background-size: contain;
    }

    #header-wrapper #mega-menu-wrap-primary {
        padding: 11px 0;
    }

    #content-wrapper .social-media-block .share-buttons ul {
        text-align: left;
    }

    #header-wrapper #mega-menu-wrap-primary #mega-menu-primary>li>.mega-sub-menu .mega-menu-row .mega-menu-column {
        // width: 50%;
    }

    #content-wrapper .header-banner-wrapper.homepage .header-banner .banner-content-wrapper .content-detail .primary-text {
        font-size: 50px;
    }

    #content-wrapper .header-banner-wrapper.homepage .header-banner .banner-content-wrapper .content-detail .secondary-text {
        font-size: 22px;
    }
    
    #content-wrapper .differences-section .expertise-block, #content-wrapper .differences-section .technology-block {
        line-height: 1.1;
    }

    #content-wrapper .differences-section .expertise-block {
        text-align: right;
    }

    #content-wrapper .differences-section .technology-block {
        text-align: left;
    }

    #content-wrapper .header-banner-wrapper .header-banner .banner-content-wrapper .content-detail .primary-text {
        font-size: 35px;
    }

    #content-wrapper .products-section .toolbar .list-style {
        text-align: left;
    }

    #content-wrapper .products-section .toolbar .sort-selection {
        border-left: 1px solid #999;
    }

    #content-wrapper .products-section .toolbar .sort-selection,
    #content-wrapper .products-section .toolbar .display-counter {
        float: right;
        text-align: left;
    }

    #content-wrapper .product-page-section .product-description .nav-tabs .nav-item .nav-link {
        padding: .5rem 1rem;
    }

    #content-wrapper .checkout-page .product-quantity {
        width: auto;

        input[name="quantity"] {
            width: 100px;
        }
    }

    #header-wrapper .middle-header .header-logo {
        text-align: left;
    }

    #header-wrapper .middle-header .header-logo img {
        height: 80px;
    }

    #header-wrapper .middle-header .call-us-at-wrapper {
        float: right;
        margin-top: 20px;

        .call-us-at-icon {
            float: left;
            display: block;
        }

        .call-us-at-text-wrapper {
            padding-left: 60px;

            .call-us-at-text {
                text-align: left;
            }
        }
    }

    #content-wrapper .header-banner-wrapper .header-banner .content-detail .primary-text {
        font-size: 40px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .column .category-name {
        font-size: 50px;
    }

    #content-wrapper .sidebyside-section .sidebyside-column .column .category-subname {
        font-size: 30px;
    }

    #content-wrapper .product-page-section .product-navigation .navigate-posts {
        background: transparent;
    }

    #content-wrapper .product-page-section .product-navigation .navigate-posts .post-thumb {
        float: left;
    }

    #content-wrapper .product-page-section .product-navigation .navigate-posts .post-title {
        padding-left: 65px;
    }

    #content-wrapper .product-page-section .product-navigation .navigate-posts.next .post-thumb {
        float: right;
    }

    #content-wrapper .product-page-section .product-navigation .navigate-posts.next .post-title {
        padding-right: 65px;
    }

    #content-wrapper .product-page-section .product-navigation .navigate-posts .label {
        font-size: 14px;
    }

    #content-wrapper .product-page-section .product-navigation .navigate-posts .post-title {
        font-size: 14px;
    }

    // #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
    //     &.column-3 {
    //         width: 100%;

    //         > .mega-sub-menu {
    //             > .mega-menu-item {
    //                 float: left;
    //                 width: 33%;
    //             }
    //         }
    //     }
    // }

    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row > ul.mega-sub-menu > li.mega-menu-column {
        // width: auto;
    }

    .logged-in {
        #header-wrapper {
            &.fixed {
                .sticky-header {
                    padding-top: 46px;
                }
            }
        }
    }
    
}

@media (min-width: 769px) {
	
}

@media (max-width: 768px) {
	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row > ul.mega-sub-menu > li.mega-menu-column {
        width: 100%;
    }
}