/* import custom variables */
@import "modules/custom_variables";

/* import bootstrap sass */
@import "../../../../../../node_modules/bootstrap/scss/bootstrap.scss";

/* import font awesome */
@import "imports/font-awesome/fontawesome";

/* import checkbox */
@import "imports/checkbox/awesome-bootstrap-checkbox.scss";


/*****************************************************
//													//
//  					DEFAULT						//
//													//
*****************************************************/
html, body {
	height: 100%;
}
body {
	color: #000;
	font-family: 'Gotham Rounded Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham Rounded Book', sans-serif;
}

a {
	color: #333;
	
	&:hover {
		color: #0ca1ea;
		text-decoration: none;
	}

	&.blog-grid-category:hover {
		color: #0ca1ea;
		background: black;
	}	
}

/**
 * Wordpress Default Image Alignment Style
 */
img.alignright {
	float: right;
	margin: 0 0 1em 1em;
}
img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-full {
	width: 100%;
}

.btn-site {
	color: #ffffff;
	border-width: 1px;
	background-color: #ed6e00;
	border-color: #ed6e00;
	padding: 12px 20px;
	font-family: 'Gotham Bold', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	border-radius: 20px;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: darken(#ed6e00, 10%);
		color: #fff;
	}

	&:focus {
		background-color: darken(#ed6e00, 20%);
		color: #fff;
	}

	&.pink {
		background: #ff4564;
		border-color: #fff;

		&:hover {
			background-color: darken(#ff4564, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#ff4564, 30%);
			color: #fff;
		}
	}

	&.blue {
		background: #006bb5;
		border-color: #006bb5;
		color: #fff;

		&:hover {
			background-color: lighten(#006bb5, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#006bb5, 10%);
			color: #fff;
		}
	}

	&.white {
		background: #fff;
		border-color: #ed6e00;
		color: #ed6e00;

		&:hover {
			background-color: lighten(#ed6e00, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#ed6e00, 10%);
			color: #fff;
		}
	}
}

.go-fancy {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background: rgba(0,0,0,0.341176);
    color: #fff;
    top: 5px;
	right: 5px;
	
	i {
		transform: rotate(-45deg);
	}
}

.form-control {
	border-radius: 0;
}

.bootstrap-datetimepicker-widget {
	font-size: 14px;

	.fa.fa-clock-o {
		&:before {
			content: '\f017';
			font-family: 'Font Awesome 5 Free';
		}
	}

	.table th, .table td {
		border: 0;
	}

	.table {
		>tbody>tr>td, 
		>tbody>tr>th, 
		>tfoot>tr>td, 
		>tfoot>tr>th, 
		>thead>tr>td, 
		>thead>tr>th {
			padding: 5px;
		}
	}
}

.block-title {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: 900;
	line-height: 20px;
	text-transform: uppercase;
	color: #14181c;
	overflow: hidden;

	span {
		display: inline-block;
		position: relative;

		&:after {
			left: 100%;
			margin-left: 15px;
			content: "";
			position: absolute;
			height: 1px;
			width: 2000px;
			background-color: #a5abb7;
			top: 10px;
		}
	}
}

.checkbox input[type="checkbox"]:checked+label::after {
	@extend .fas;
	top: 5px;
	content: '\f00c' !important;
}

.has-icon {
	position: relative;

	select {
		-webkit-appearance: none;
	}

	.form-control {
		padding-right: 50px;
		background-color: transparent !important;
		position: relative;
		z-index: 2;
	}

	.form-control-icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		z-index: 1;
	}
}

.checkbox, .radio {
	padding-left: 10px;
}

.bootstrap-datetimepicker-widget table td.disabled, 
.bootstrap-datetimepicker-widget table td.disabled:hover {
	color: #bdb7b7;
}

.table-borderless {
	th, td {
		border: 0;
	}
}

.form-notification {
	p {
		margin: 0;
	}
}

.error-404 {
	padding: 30px 0;
}

.default-page-content {
	min-height: 200px;
	padding: 30px 0;
}

/*Chrome, Safari, Opera */
@-webkit-keyframes mySticky {
	from {
		margin-top:-200px;
	}
	to {
		margin-top:0;
	}
}
   
/*Standard syntax */
@-moz-keyframes mySticky {
	from {
		margin-top:-200px;
	}
	to {
		margin-top:0;
	}
}

/*Standard syntax*/
@keyframes mySticky {
	from {
		margin-top:-200px;
	}
	to {
		margin-top:0;
	}
}

#cart-link {
	position: fixed;
    bottom: 90px;
    right: 10px;
	width: 60px;
    height: 60px;
    line-height: 57px;
    z-index: 1;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #f48800;
    border-radius: 35px;
	border: 3px solid #fff;
	
	.cart-counter {
		right: -5px;
		border: 2px solid #fff;
		line-height: 22px;
	}
}

.whatsapp-btn {
	.web, 
	.api
	{
		font-size: 28px;
		border-radius: 50%;
		color: #fff;
		background-color: #4ded69;
		display: inline-block;
		width: 60px;
		height: 60px;
		line-height: 57px;
		text-align: center;
		position: fixed;
		z-index: 1;
		bottom: 20px;
		right: 10px;
		border: 3px solid #fff;
	}

	.web {
		display: none;
	}

	.api {
		display: block;
	}
}

.fancybox-container {
	.fancybox-caption {
		text-align: center;
		font-size: 18px;
		font-family: "Gotham Medium";
	}
}

.cart-counter {
	position: absolute;
	top: -5px;
	right: -10px;
	line-height: 25px;
	text-align: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ff1d1d;
	font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}


/*****************************************************
//													//
//  					HEADER 						//
//													//
*****************************************************/
#header-wrapper{
	border-bottom: 8px solid #ffd183;

	&.fixed {
		.sticky-header {
			position: fixed;
			width: 100%;
			background: #fff;
			top: 0;
			left: 0;
			z-index: 99992;
		}
	}
	

	#mega-menu-wrap-primary {
		width: 100%;
		// padding: 11px 0;
		padding: 5px 0;
		background-color: #3b3b3b;

		.mega-menu-toggle {
			height: auto;
			background-color: #3b3b3b;
		}

		.form-container {
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #f9bc6f;
			}
			::-moz-placeholder { /* Firefox 19+ */
				color: #f9bc6f;
			}
			:-ms-input-placeholder { /* IE 10+ */
				color: #f9bc6f;
			}
			:-moz-placeholder { /* Firefox 18- */
				color: #f9bc6f;
			}
			
			form {
				padding: 12px 0;
				
				.input-group {
					width: 100%;
				}
				
				[type="search"] {
					background: #3b3b3b;
					border-right: 0;
					color: #fff;
					border-color: #f9bc6f;
					border-radius: 4px 0 0 4px;

					&:focus,
					&:active {
						box-shadow: none;
					}
				}

				.input-group-text {
					background: #3b3b3b;
					color: #fff;
					border-color: #f9bc6f;
					border-left: 0;
				}
			}
		}
		
		#mega-menu-primary {
			background: #3b3b3b;
			// background: #f48800;

			li {
				&.dnone {
					> .mega-menu-link {
						display: none;
					}
				}
			}

			> li {
				&.mega-menu-item {
					&.mega-toggle-on,
					&.mega-current-menu-ancestor, 
					&.mega-current-menu-item {
						> a.mega-menu-link {
							background: #d27705;
						}
					}

					> a.mega-menu-link {
						padding: 5px 10px;
						height: auto;

						&:focus, 
						&:active, 
						&:hover {
							background: #d27705;
						}
					}
				}

				&.cart-container {
					display: none;

					a {
						position: relative;

						&:focus,
						&:active {
							box-shadow: none;
						}

						&.mega-menu-link {
							padding: 11px 25px;
							margin-left: 15px;
							border-left: 1px solid #ffa83a;
							background: #f99e2b;
							border-right: 1px solid #ffa83a;

							&:hover {
								background: #d27b0f;
							}

							&:focus ,
							&:active {
								background: darken(#d27b0f, 5%);
							}
						}
					}
				}

				&.grid-submenu {
					> .mega-sub-menu {
						padding: 10px;
						background-color: #2b2b2b;
						height: 40vh;
						overflow: hidden;
						overflow-y: scroll;

						.mega-menu-link {
							padding: 0 10px;
							line-height: 25px;
						}
					}
				}
				
				> .mega-sub-menu {
					// padding: 20px;
					background-color: #2b2b2b;

					.mega-menu-link {
						padding: 15px 20px;
						line-height: 1;
						background: #2b2b2b;
						color: #fff;

						&:active {
							color: #fff;
							background-color: #3b3b3b;
						}
					}
					
					.mega-menu-row {
						.mega-menu-column {
							// width: 100%;

							.mega-sub-menu {
								.mega-menu-link {
									color: #fff;
									font-weight: bold;
									padding-bottom: 10px;
									margin-bottom: 20px;
									font-size: 12px;
									border-bottom: 4px solid #f1b95e;
								}

								.mega-sub-menu {
									.mega-menu-link {
										font-size: 12px;
										color: #fff;
										font-weight: normal;
										padding-bottom: 0;
										margin-bottom: 0;
										border-bottom: 0;
									}
								}
							}
						}
					}

				}
			}
		}
	}

	.navbar .dropdown-menu div[class*="col"] {
		margin-bottom:1rem;
	}
	 
	.navbar .dropdown-menu {
		border:none;
		background-color:#0060c8!important;
	}

	.top-header {
		// background-color: #b5cfe1;
		background-color: #c25a00;
		padding: 8px 0;
		color: #fff;
		font-size: 13px;

		.address {
			// text-align: left;
			text-align: center;
			margin-bottom: 5px;
		}

		.opening-hour {
			// text-align: right;
			text-align: center;
		}
	}

	.middle-header {
		padding: 10px 0;
		transition: all 0.2s ease-in-out;
		width: 100%;
		z-index: 100;
		font-family: 'Gotham Medium';
		color: #fff;
		z-index: 1001;
		background-color: #fff;
		text-align: center;

		.header-logo {
			text-align: left;

			img {
				height: 70px;
			}
		}

		.mobile-toggle-btn {
			.cart-link {
				display: inline-block;
				font-size: 16px;
				border: 1px solid #0ca1ea;
				padding: 5px 14px;
				border-radius: 3px;
				background: #0ca1ea;
				color: #7f6427;
				line-height: 26px;
				margin-left: 7px;
			}

			button {
				background-color: #ffc84f;
			}
		}

		.call-us-at-wrapper {
			line-height: 1.3;
			// float: right;
			// margin-top: 30px;
			// display: inline-block;
			display: block;
			margin-top: 10px;
			text-align: right;
			float: none;

			.call-us-at-icon {
				float: left;
				display: none;
			}

			.call-us-at-text-wrapper {
				// padding-left: 60px;

				.call-us-at-text {
					font-family: 'Gotham Rounded Book';
					font-size: 18px;
					// text-align: center;
					text-align: right;
					color: #2c2f33;
				}
	
				.call-us-at-number, 
				& a {
					font-family: 'Gotham Rounded Medium';
					font-size: 24px;
					color: #000;
				}
			}

		}

		.nav-right {
			display: none;
			text-align: right;
		}
	}

	.bottom-header {
		background-color: #3b3b3b;

		.navbar-nav {
			> .menu-item {
				> a {
					transition: all 0.2s ease-in-out;
					color: #fff;
					font-size: 14px;
					display: block;
					padding: 10px 5px;
				}

				> .dropdown-menu {
					background-color: #1671b3;
					border: 0;
					padding: 10px 0;
					border-radius: 0;
					box-shadow: 0px 4px 13px -3px #808080;
					
					.menu-item {
						a {
							padding: 5px 10px;
							color: #fff;
							display: block;
							font-family: 'Gotham Rounded Book';

							&:hover {
								background-color: #1f679a;
							}
						}
					}
				}
			}
			
			.cart-link {
				border-left: 1px solid #fff;
				margin-left: 10px;
				color: #fff;
			}
		}
	}
}


/*****************************************************
//													//
//  					CONTENT						//
//													//
*****************************************************/

#content-wrapper{
	.section {
		padding: 40px 0;

		.section-title {
			font-family: 'Gotham Rounded Book', sans-serif;
			font-size: 24px;
			color: #000;
			margin-bottom: 20px;
		}
	}

	.page-content {
		margin-bottom: 20px;

		p {
			text-align: justify;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.banner-wrapper {
		// min-height: 650px;
		background: #f19200 url('dist/images/banner-v2.jpg') repeat-x center top;
		color: #fff;
		// padding: 40px 0 80px;
		padding: 40px 0;
		// background-size: cover;

		.banner {
			border: 15px solid #fff;
			background: url("dist/images/banner-bg.jpg");
			// background-position-x: 300px;
			background-position-x: 0;
			background-size: contain;
			background-repeat: no-repeat;
			text-align: center;
			// padding: 20px;
		}

		.banner-text-wrapper {
			background: #00497c;

		}

		.banner-text {
			// padding: 100px 0 100px 30px;
			// margin-top: 30px;
			// background-color: #00497c;
			padding: 20px 0;
			width: 100%;
			@include gradient-y(#f69f00, #cf6000, 0, 100%);
			display: inline-block;
			position: relative;
		}

		.first-text {
			font-family: 'Gotham Bold';
			// font-size: 36px;
			font-size: 22px;
			line-height: 1;
			margin-bottom: 5px;
		}
		
		.second-text {
			font-family: 'Gotham Bold';
			// font-size: 72px;
			font-size: 35px;
			margin-bottom: 20px;
			line-height: 1;
		}

		.third-text {
			font-family: 'Gotham Rounded Light';
			// font-size: 24px;
			font-size: 18px;
			line-height: 1.3;
		}
	}

	.header-banner-wrapper {
		.header-banner {
			background: #c77001;
			text-align: center;

			.content-detail {
				padding: 30px 0;

				.primary-text {
					font-family: 'Gotham Bold';
					font-size: 30px;
					color: #fff;
					letter-spacing: -3px;
					line-height: 1;
					margin-bottom: 15px;
				}
			}
		}
	}

	.breadcrumbs {
		color: #fff;
		
		a {
			color: #fff;
			font-weight: bold;
			text-decoration: underline;
		}
	}

	.about-section {
		text-align: center;
		color: #000;
		// padding: 50px 100px;
		padding: 50px 20px;

		.about-section-row {
			margin-bottom: 20px;
		}

		.section-title {
			color: #ffb84c;
			font-family: 'Gotham Bold';
			// font-size: 36px;
			font-size: 30px;
			// text-align: left;
			text-align: center;
			line-height: 1;

			span {
				// font-size: 72px;
				font-size: 46px;
				color: $site_color;
				display: block;
			}
			
		}

		.btn-site {
			margin-bottom: 5px;
		}
	}

	.differences-section {
		position: relative;
		@extend .clearfix;
		
		.expertise-block {
			background-color: #ffb100;
			background: url('dist/images/easy-to-use-space-saving.jpg') top right no-repeat;
			text-align: right;
		}
		
		.technology-block {
			background: url('dist/images/durable-rust-proof.jpg') top left no-repeat;
			background-color: #6cdafb;
		}

		.expertise-block,
		.technology-block {
			height: 350px;
			padding: 30px;
			float: left;
			width: 50%;
			font-family: 'Gotham Bold', sans-serif;
			font-size: 24px;
			line-height: 1.3;
			color: #fff;
			text-align: center;
		}
	}

	.mobile-specs-wrapper {
		padding-bottom: 5px;
		border-bottom: 1px solid #fff;
	}

	.specs-section {
		text-align: center;
		background-color: #fff0d4;
		// padding: 60px 90px;
		padding: 60px 20px;
		text-align: center;

		.specs {
			font-family: 'Gotham Bold';
			color: #c25a00;
			font-size: 24px;
			text-align: center;
			display: inline-block;
			// width: 19%;
			width: 100%;
			margin-bottom: 30px;
			padding: 20px;
			// box-shadow: 1px 1px 1px #839daf;
		}
	}

	.specs {
		.specs-content {
			font-family: 'Lato';
		}
	}

	.ironing-section {
		padding: 30px 0 0 0;

		.ironing-bg {
			background: url('dist/images/ironing-image.jpg');
			background-position: bottom right;
			background-repeat: no-repeat;
		}

		.product-category-wrapper {
			text-align: center;
			margin-bottom: 40px;

			.product-category {
				font-family: 'Gotham Bold';
				// font-size: 72px;
				font-size: 46px;
				color: $site_color;
			}
		}

	}

	.testimonials-section {
		background: #fff0d4 url('dist/images/testimonials-section-bg-v2.jpg') repeat-x bottom center;
		position: relative;
		font-family: 'Gotham Rounded Light';
		font-size: 16px;
		padding-bottom: 80px;

		// &:before {
		// 	height: 40px;
		// 	width: 148px;
		// 	background-image: url('dist/images/arrow-down-trans.png');
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	margin-left: -86px;
		// 	content: '';
		// }

		// &:after {
		// 	height: 40px;
		// 	width: 100%;
		// 	background-color: #fff;
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	content: '';
		// }

		.button-block {
			margin-top: 40px;
			text-align: center;
		}

		.testimonial-col {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
		
		.testimonial-block {
			background: #fff;
			padding: 50px 20px;
			border-radius: 10px;
			text-align: center;
			height: 100%;
			
			.author {
				font-family: 'Gotham Rounded Medium';
				text-transform: uppercase;
				margin-bottom: 5px;
			}

			.stars {
				margin: 20px 0;

				i {
					color: #ed6e00;
				}
			}

			.testimonial {
				line-height: 1.6;
			}
		}

		.section-title {
			color: $site_color;
			text-align: center;
			// font-size: 36px;
			font-size: 28px;
			// margin-bottom: 40px;
			margin-bottom: 20px;
			font-family: 'Gotham Bold';
		}
	}

	.contact-us-section {
		.address-wrapper {
			background-color: #2c2c2c;
			padding: 40px;
			color: #fff;
			font-family: 'Gotham Rounded Light';
			position: relative;
			z-index: 1;

			.address-block {
				.address-icon {
					color: #00c7c7;
					font-size: 50px;
					float: left;
				}
		
				.address {
					padding-left: 30px;
				}

				a {
					color: #fff;
					text-decoration: underline;
				}
			}
		}

		.map-wrapper {
			// margin-top: -70px;
			margin-top: 5px;
			position: relative;
		}

		.hotlines-wrapper {
			.section-title {
				text-align: left;
			}

			.table tr:first-child td {
				border-top: none;
			}
		}

		.section-title {
			margin-top: 20px;
			margin-bottom: 30px;
			text-align: center;
		}

		.text-field {
			height: 50px;
		}
	}

	.dynamic-map-wrapper {
		margin-bottom: 50px;
	}

	.profile-section {
		.blue-block {
			padding: 50px 10px;
			// padding: 50px;
			background-color: #f48800;
			color: #fff;
			margin-bottom: 30px;
			margin-top: 30px;
		}
	
		.awards-wrapper {
			text-align: center;

			a {
				display: inline-block;
			}

			.awards-image {
				display: inline-block;
				width: 150px;
				margin-right: 10px;
				margin-bottom: 10px;
				cursor: pointer;
				outline: 1px solid #ccc;

				&:hover {
					outline: 1px solid #0056ae;
				}
			}
		}
	}

	.sidebyside-section {
		padding: 0;

		.sidebyside-column {
			@extend .clearfix;
			@include gradient-y(#d36200, #a14400, 0, 100%);
			position: relative;
			display: flex;
			flex-direction: column;
			// align-items: center;
			
			.column {
				// width: 50%;
				// float: left;
				// padding: 30px 50px;
				width: 100%;
				padding: 30px 20px;

				.category-name {
					line-height: 1;
					font-family: 'Gotham Bold';
					font-size: 36px;
					// letter-spacing: -4px;
					letter-spacing: -2px;
					color: #fff;
				}
				
				.category-subname {
					line-height: 1;
					font-family: 'Gotham Bold';
					font-weight: bold;
					// font-size: 36px;
					font-size: 20px;
					color: #fff;
					margin-bottom: 30px;
				}

				.description {
					font-family: 'Gotham Rounded Light';
					font-size: 16px;
					color: #fff;
					margin-bottom: 40px;
				}

				.video-wrapper {
					margin-bottom: 15px;

					.video-label {
						font-family: 'Gotham Rounded Medium';
						color: #fff;
					}
				}
			}

			.detail-column {
				// max-width: 400px;
				// text-align: left;
				text-align: center;
				max-width: 100%;
				width: 100%;
				align-self: center;

				.video-wrapper {
					.video {
						margin: 30px 0;

						.img-tag {
							display: none;
							height: 250px;
						}

						.img-thumbnail {
							background-color: #cb5d00;
							border-color: #cb5d00;
						}
					}
				}
			}

			.slider-column {
				padding: 0;
				// background-color: red;

				.owl-dots {
					position: absolute;
					bottom: 30px;
					left: 30px;
				}

				.product-image-tag {
					display: block;
				}

				.product-image-bg {
					// display: none;
					height: 400px;
					background-size: cover;
					background-position: center center;
				}
			}
		}

		&.automatic {
			.detail-column {
				// margin-left: auto;
			}
		}

		&.manual {
			.detail-column {
				// margin-right: auto;
			}
		}
	}

	.our-product-section {
		.section-title {
			text-align: center;
		}
	}

	.products-section {
		.no-product {
			padding: 50px 0;
		}

		.toolbar {
			padding: 15px;
			border: 1px solid #e5e5e5;
			margin-bottom: 20px;

			ul {
				margin: 0;
			}

			.list-style {
				font-size: 18px;
				margin-top: 5px;
				text-align: center;

				a {
					&.active {
						color: #0ca1ea;
					}
				}
			}
			
			.sort-selection {
				// float: right;
				float: none;
				text-align: center;
				margin-top: 4px;
				font-size: 14px;
				color: #333;
				// border-left: 1px solid #999;
				padding-left: 10px;

				.btn {
					color: #333;
				}
			}

			.display-counter {
				// float: right;
				float: none;
				text-align: center;
				font-size: 14px;
				margin-right: 10px;
				margin-top: 7px;
			}
		}
	}

	.tab-wrapper {
		.tab-nav {
			margin-bottom: 30px;

			.nav {
				display: block;
				text-align: center;

				&.nav-tabs {
					border: 0;

					.nav-item {
						display: inline-block;
						
						.nav-link {
							font-size: 14px;
							margin-bottom: 10px;
							border: 1px solid #dedede;
							border-radius: 30px;

							&.active {
								border: 0;
								background-color: #fca800;
								border: 1px solid #fca800;
								color: #fff;
							};
						}
						
					}
				}
			}
		}
	}

	.product-grid {
		.product-item {
			margin-bottom: 20px;

			&:hover {
				.product-thumb {
					&:before {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: rgba(12, 137, 192, 0.6);
					}
				}
				
				.product-name {
					color: #333;
				}
			}

			.product-thumb {
				position: relative;
				height: 250px;
				// border: 1px solid #eee;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 1px 1px 1px #839daf;
			}

			.product-name {
				padding: 5px;
				font-family: 'Gotham Medium';
				text-align: center;
			}
		}
	}

	.product-list {
		.product-item {
			margin-bottom: 20px;
			@extend .clearfix;
			border: 1px solid #ebebeb;
			
			&:hover {
				border: 1px solid #527fa4;
				
				.product-name {
					color: #333;
				}
			}

			.product-thumb {
				width: 300px;
				float: left;
				position: relative;
				height: 250px;
				border: 1px solid #eee;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			.product-detail {
				display: table-cell;
				padding: 18px 25px;
			}

			.product-name {
				padding-left: 320px;
				font-family: 'Gotham Medium';
				text-align: left;
				padding: 0;
				margin-bottom: 10px;
			}

			.product-description {
				margin-bottom: 10px;
			}

			.list-button {
				margin-bottom: 10px;
			}
		}
	}
	
	.pagination-wrapper {
		text-align: center;
		margin-top: 30px;

		.inner-pagination-wrapper {
			display: inline-block;

			.pagination {
				@extend .pagination;
				text-align: center;
				margin: 0;
	
				li {
					@extend .page-item;
					
					&:first-child span {
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
					}
				}
	
				a, span {
					@extend .page-link;
					border: 2px solid #b1b1b1;
					padding: 0 15px;
					margin: 0 3px;
					color: #fff;
					border-radius: 5px;
					font-size: 18px;
					font-weight: bold;
					background-color: #b1b1b1;
					line-height: 46px;
					width: 50px;
					height: 50px;

					&:hover {
						background-color: darken(#b1b1b1, 10%);
						border: 2px solid #b1b1b1;
						color: #fff;
					}
				}
			}
		}
	}

	.sidebar-wrapper {
		.sidebar {
			.sidebar-title {
				font-family: 'Gotham Bold';
				font-size: 18px;
				color: #fff;
				background-color: #1982ca;
				padding: 7px 10px;
			}
			
			.sidebar-content {
				background-color: #fff;
				border: 1px solid #f7f7f7;
				border-top: none;
				padding: 5px 10px;

				.category {
					&:last-child {
						.category-link {
							border-bottom: 0;
						}
					}
				}

				.category-link {
					font-family: 'Gotham Medium';
					font-size: 15px;
					color: #333;
					display: block;
					padding: 10px 5px;
					border-bottom: 1px solid #999;

					&:hover {
						color: #1982ca;
						border-bottom: 1px solid #006bb5;
					}
				}
			}
		}
	}

	.product-page-section {
		.post-wrapper {
			margin-bottom: 40px;
		}

		.product-details {
			.title {
				font-family: 'Gotham Medium';
				font-size: 30px;
				margin-bottom: 20px;
			}
		}

		.social-media-block {
			margin-top: 50px;
		}

		.product-quick-view {
			margin-bottom: 50px;
		}

		.product-description {
			.nav-tabs {
				border: 0;

				.nav-item {
					&:first-child {
						.tab-label {
							padding-left: 0;
						}
					}

					.nav-link {
						border: 0;
						color: #333;
						padding-left: 0;

						&.active {
							color: #999;
						}

						&.active,
						&:hover {
							border: 0;
						}
					}
				}
			}
			
			.tab-label {
				font-family: 'Gotham Medium';
				font-size: 20px;
				margin-bottom: 10px;
				border: 0;
			}

			.tab-content {
				border: 1px solid #e5e5e5;
				font-size: 16px;
				padding: 20px;
				text-align: justify;

				iframe {
					@extend .embed-responsive-item;
				}
			}
		}
		
		.product-specs {
			.specs {
				margin-bottom: 30px;

				.specs-header{
					padding: 10px;
					font-family: 'Gotham Medium';
					background-color: #fda63a;
					color: #fff;
				}

				.specs-content{
					padding: 10px;

					iframe {
						@extend .embed-responsive-item;
					}
				}

				&.portfolio {
					.portfolio-grid {
						.portfolio-img {
							position: relative;
							margin-bottom: 20px;
						}

						.portfolio-caption {
							text-align: center;
							font-size: 14px;
							font-family: 'Gotham Medium';
							padding: 3px;
						}
						
						.item {
							height: 150px;
							background-size: cover;
							background-position: center center;
							background-repeat: no-repeat;
							margin-bottom: 3px;
							position: relative;

							&:hover {
								
								&:after {
									content: '';
									position: absolute;
									width: 100%;
									height: 100%;
									top: 0;
									left: 0;
									background: rgba(0, 0, 0, 0.15);
									z-index: 1;
								}

								&:before {
									@extend .fas;
									@extend .fa-arrows-alt-h;
									position: absolute;
									z-index: 2;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									margin: auto;
									width: 50px;
									height: 50px;
									font-size: 30px;
									transform: rotate(-45deg);
									color: #fff;
									text-align: center;
									line-height: 50px;
								}
							}
						}
					}
				}

				&.faq {
					ul {
						li {
							margin-bottom: 10px;
						}
					}
				}
			}
		}

		.product-navigation {
			border-top: 1px solid #ddd;
			padding-top: 20px;
			margin-top: 30px;

			text-align: center;

			.navigate-posts {
				padding: 5px;

				// display: inline-block;
				padding: 5px;
				border-radius: 3px;
				background: #eee;
				color: #333;
				margin-bottom: 10px;

				&:hover {
					background: darken(#eee, 3%);
				}

				&:active {
					background: darken(#eee, 10%);
				}

				&.previous {

				}

				&.next {
					text-align: right;

					.post-thumb {
						// float: right;
						text-align: right;
	
						img {
							width: 50px;
						}
					}

					.post-title {
						// padding-right: 65px;
						padding-left: 0;
						text-align: right;
					}

					.label {
						text-align: right;
					}
				}

				.nav-post {
					@extend .clearfix;
				}

				.post-thumb {
					// float: left;
					text-align: left;

					img {
						width: 50px;
					}
				}

				.post-title {
					text-align: left;
					// padding-left: 65px;
					font-size: 13px;
					font-family: 'Gotham Rounded Medium';
				}

				.label {
					display: block;
					font-weight: bold;
					// font-size: 14px;
					font-size: 12px;
					margin-bottom: 5px;
					text-align: left;
				}
			}
		}
	}

	.checkout-page {
		.table-bordered th, .table-bordered td {
			border-bottom: 0;
		}

		.product-photo {
			text-align: center;
		}

		.product-name {

		}

		.product-quantity {
			width: 120px;

			input[name="quantity"] {
				width: 95px;
			}
		}

		.update-cart {
			color: #f48800;
		}

		#place_order {
			width: 100%;
			margin-top: 20px;
		}
	}

	.sidebyside-carousel {
		.sidebyside-slide {
			// height: 300px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: none;
		}
	}
	
	.gallery-wrapper {
		position: relative;
		visibility: hidden;
		margin-bottom: 30px;

		.gallery-carousel {
			.gallery-thumbnail {
				height: 350px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-image: none;

				img {
					display: block;
				}
			}
		}

		.item {
			position: relative;
			
			.gallery-caption {
				width: 90%;
				margin-left: 5%;
				text-align: center;
				position: absolute;
				bottom: 20px;
				color: #fff;

				span {
					display: inline-block;
					background-color: rgba(51, 51, 51, 0.7);
					border-radius: 10px;
					padding: 3px 8px;
				}
			}
		}

		ul {
			margin: 0;

			li {
				img {
					width: 60px;
					border: solid 4px rgba(255, 255, 255, 0.6);
					margin: 0;
				}
			}
		}

		.gallery-thumbnail-wrapper {
			bottom: 10px;
			z-index: 2;
			left: 10px;
			margin-top: 10px;
		}
	}

	.testimonial-wrapper {
		.testimonial-item {
			border-bottom: 1px solid #999;
			padding-bottom: 30px;
			margin-bottom: 50px;
			
			.testimonial {
				margin-bottom: 30px;
			}

			.testimonial-author {
				font-family: 'Gotham Rounded Light', sans-serif;
				font-size: 18px;
			}

			.embed-responsive {
				margin-bottom: 20px;
			}
		}
	}

	.social-media-block {
		margin-bottom: 15px;

		.share-buttons {
			ul {
				text-align: center;

				li {
					margin-right: 4px;
				}
			}

			a {
				&.share-link {
					// padding: 10px 12px;
					padding: 10px;
					// font-size: 11px;
					font-size: 10px;
					line-height: 13px;
					border-radius: 0;
					display: inline-block;
					color: #333;
					border: 1px solid #ccc;
					background-color: #fff;
					// width: 110px;
					width: 100px;
					margin-bottom: 20px;
		
					&.facebook {
						// background: #516eab;
		
						&:hover {
							background: darken(#516eab, 10%);
							border: 1px solid #516eab;
							color: #fff;
						}
		
						&:active {
							color: #fff;
							background: darken(#516eab, 20%);
						}
					}
		
					&.twitter {
						// background: #29c5f6;
		
						&:hover {
							background: darken(#29c5f6, 10%);
							border: 1px solid #29c5f6;
							color: #fff;
						}
		
						&:active {
							color: #fff;
							background: darken(#29c5f6, 20%);
						}
					}
		
					&.google-plus {
						// background: #eb4026;
		
						&:hover {
							background: darken(#eb4026, 10%);
							border: 1px solid #eb4026;
							color: #fff;
						}
		
						&:active {
							color: #fff;
							background: darken(#eb4026, 20%);
						}
					}
		
					&.pinterest {
						// background: #ca212a;
		
						&:hover {
							background: darken(#ca212a, 10%);
							border: 1px solid #ca212a;
							color: #fff;
						}
		
						&:active {
							color: #fff;
							background: darken(#ca212a, 20%);
						}
					}
				}
		
				.social-icon {
					float: left;
					padding: 0 7px 0 0px;
					margin-right: 0px;
					border-right: 1px solid #d2d2d2;
				}
			}
		}
	}

	.quantity-block {
		margin-bottom: 15px;
		
		label,
		#quantity-field {
			display: inline-block;
		}

		label {
			font-family: 'Gotham Bold';
			font-size: 13px;
			color: #999;
		}

		#quantity-field {
			width: 100px;
		}
	}
	
	
	.add-cart-block {
		margin-bottom: 15px;
		padding-top: 20px;
		
		[type="submit"] {
			display: block;
			width: 100%;
		}
	}

	.price-block {
		margin-bottom: 15px;

		label {
			font-family: 'Gotham Bold';
			font-size: 13px;
			color: #999;
		}

		span {
			color: #f8aa00;
			font-weight: bold;
		}
	}

	.category-block {
		margin-bottom: 10px;

		label {
			font-family: 'Gotham Bold';
			font-size: 13px;
			color: #999;
		}

		a {
			color: #f48800;
			font-weight: bold;
		}
	}

	.availability-block {
		margin-bottom: 15px;

		label {
			font-family: 'Gotham Bold';
			font-size: 13px;
			color: #999;
		}

		span {
			font-weight: bold;

			&.in-stock {
				color: #006bb5;
			}

			&.out-of-stock {
				color: #d03232;
			}
		}
	}
	
}

.footer-separator {
	background: url('dist/images/testimonials-section-bg-v2.jpg');
	height: 240px;
	position: relative;
	background-position: -245px 280px;
}


.separator-tail {
	background-image: url('dist/images/arrow-down-trans.png');
	background-position: center center;
	height: 40px;
	width: 100%;
	position: relative;
	margin-top: -40px;
	background-repeat: no-repeat;
	overflow: hidden;
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		left: -86px;
		top: 0;
		background-color: #fff;
	}

	&:after {
		left: auto;
		right: -86px;
	}
}

/*****************************************************
//													//
//  					FOOTER						//
//													//
*****************************************************/

#footer-wrapper{
	color: #000;
	font-size: 12px;
	text-align: center;
	
	.top-footer {
		// border-top: 1px solid #c7c7c7;
		text-align: center;
		padding: 80px 0;
		font-size: 16px;

		.logo-footer {
			margin-bottom: 35px;
		}

		.address {
			margin-bottom: 10px;
		}
		
		.opening-hour {
			margin-bottom: 30px;
		}
		
		.call-us {
			font-family: 'Gotham Rounded Book';
		}

		.tel-link {
			color: #000;
			font-size: 30px;
			margin-top: 5px;
			display: inline-block;
			font-family: 'Gotham Rounded Medium';
		}
	}

	.botton-footer {
		background-color: $site_color;
		padding: 25px 0;
		color: #fff;
	}

	p {
		margin: 0;
	}

	a {
		color: #fff;
	}

	.reserved {
		display: block;
	}

	.footer-links {
		margin-bottom: 10px;

		ul {
			@extend .list-inline;
			margin-bottom: 0;

			li {
				@extend .list-inline-item;

				a {
					color: #fff;
				}
			}
		}
	}
}

  
.masonry { /* Masonry container */
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	margin: 0;
	padding: 0;
	-moz-column-gap: 1.5em;
	-webkit-column-gap: 1.5em;
	column-gap: 1.5em;
	font-size: 16px;
	font-family: 'Lato';
	
	.item {
		display: inline-block;
		background: #fff;
		padding: 18px;
		margin: 0 0 1.5em;
		width: 100%;
		-webkit-transition: 1s ease all;
		box-sizing: border-box;
	
		&:nth-child(odd) {
			background-color: #ef7906;
			color: #fff;
	
			a {
				color: #fff;
			}
		}
	
		&:nth-child(even) {
			background-color: #eee;
			
			.testimonial-quote {
				color: #ef7906;
			}
		}
	
		.testimonial-video {
			margin-bottom: 20px;
		}
	
		.testimonial {
			margin-bottom: 20px;
		}
	
		.testimonial-author {
			font-family: 'Lato';
			font-weight: bold;
			font-size: 14px;
		}
	
		.testimonial-quote {
			font-size: 40px;
			line-height: 1;
			margin-bottom: 20px;
		}
	
		a {
			text-decoration: underline;
		}
	
		img {
			max-width:100%;
		}
	}
	
}

/*****************************************************
//													//
//  			RESPONSIVE MODULES					//
//													//
*****************************************************/

// Small devices (landscape phones, 576px and up)
@import "modules/landscape_phones";

// Medium devices (tablets, 768px and up)
@import "modules/tablets";

// Large devices (desktops, 992px and up)
@import "modules/desktops";

// Extra large devices (large desktops, 1200px and up)
@import "modules/large_desktops";